<ul id="slide-out" class="sidenav sidenav-fixed">
  <li>
    <div class="user-view">
      <div class="background">
        <img
          src="https://www.egnyte.com/sites/default/files/inline-images/The%20expansion%20of%20cloud%20applications%20has%20added%20to....png"
        />
      </div>
      <a href="#user"
        ><img
          class="circle"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRquNpFeEVVURyaYfCOAKJyGn0UK_AQCKvOWvJ3iF2uA&s"
      /></a>
      <a href="#name"
        ><span class="white-text name"
          >{{ authService.authData.value.name }}
          {{ authService.authData.value.lastname }}</span
        ></a
      >
      <a href="#email"
        ><span class="white-text email">{{
          authService.authData.value.email
        }}</span></a
      >
    </div>
  </li>
  <li><a class="subheader">Usuários</a></li>
  <li>
    <a class="waves-effect" [routerLink]="'/main/users/add'">Adicionar usuário</a>
  </li>
  <li>
    <a class="waves-effect" [routerLink]="'/main/users/list'">Gerenciar usuários</a>
  </li>
  <div class="divider"></div>
  <li><a class="subheader">Gráficos</a></li>
  <li>
    <a class="waves-effect" [routerLink]="'/main/charts/dashboard'"
      >Dashboard principal</a
    >
  </li>
  <div class="divider"></div>
</ul>

<div class="main-container">
  <router-outlet />
</div>
