<div class="bg">
  <div class="container">
    <div class="row">
      <div class="col s3"></div>
      <div class="col s6">
        <form action="" [formGroup]="loginForm" class="row z-depth-3">
          <h4>Gerenciador de usuários</h4>
          <h5 class="col s12">Insira suas credenciais para efetuar login</h5>
          <div class="input-field col s12">
            <input
              formControlName="email"
              id="email"
              type="text"
              class="validate"
            />
            <label for="email">E-mail</label>
          </div>
          <div class="input-field col s12">
            <input
              formControlName="password"
              id="password"
              type="password"
              class="validate"
            />
            <label for="password">Senha</label>
          </div>
          <div class="col s12">
            <a class="waves-effect waves-light btn" (click)="login()">Login</a>
          </div>
        </form>
      </div>
      <div class="col s3"></div>
    </div>
  </div>
</div>
