table {
  margin-top: 3rem;


  td {
    i {
      &:hover {
        cursor: pointer;
        opacity: 0.5;
      }

      &:first-child {
        margin-right: 1rem;
      }
    }
  }
}

.list-container {
  margin: 3rem;

  div {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
  }
}